/*-- views --*/

.gameintro .game-room {
	display: none;
}

.gamerunning .game-room {
	display: block;
	z-index: 1;
  position: relative;
}

/*-- global --*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-color: #262626;
	padding: 10px;
	font-family: 'Ropa Sans', sans-serif;
}

main {
	background: white;
}

.box {
	background: white;
	padding: 5px;
	margin-bottom: 5px;
	border: 2px solid black;
}

.box::after {
	clear: both;
	content: "";
	display: table;
}

/*-- typography --*/

h2 {
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

/*-- Apple menu bar --*/

.menu-bar {
	border-bottom: 1px solid black;
	background: #262626;
	font-weight: 700;
	font-size: 20px;
	position: relative;
}

.menu-bar::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 20px;
  background: url(../images/menu-bar-icons.svg) transparent center center no-repeat;
  background-size: contain;
  height: 44px;
  width: 75px;
  z-index: 0;
}

.menu-inner {
	border-radius: 10px 10px 0 0;
	background-color: #f7f7f7;
	padding: 10px 20px;
	height: 44px;
}

.menu-inner::after {
	clear: both;
	content: "";
	display: table;
}

.menulinks {
	margin: 0;
	padding: 0;
}

.menulinks li {
	display: block;
	float: left;
	margin: 0;
	padding: 3px 5px 0 5px;
}

.menulinks li:first-child {
	padding: 0 10px 0 0;
}

.apple-logo {
	width: 18px;
	height: auto;
}

/*-- Main Content --*/

main {
	padding: 20px;
	border-radius: 0 0 20px 20px;
	background-color: #aaaaaa;
	position: relative;
}

.gamerunning main::before {
	content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../images/mac_hd.svg) transparent center center no-repeat;
  background-size: contain;
  height: 45px;
	width: 100px;
	z-index: 0;
}

.gamerunning main::after {
	content: "";
  position: absolute;
  bottom: 10px;
  right: 45px;
  background: url(../images/trash.svg) transparent center center no-repeat;
  background-size: contain;
  height: 70px;
	width: 45px;
	z-index: 0;
}

@media only screen and (min-width: 1100px) {
	.gamerunning main::before {
		top: 35px;
		right: 25px;
	}
	.gamerunning main::after {
		bottom: 40px;
		right: 55px;
	}
}

/*-- intro screen --*/

.intro,
.game-room {
	min-height: calc(100vh - 144px);
	text-align: center;
}

.intro-message {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20px;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.intro-message img {
	width: 50px;
}

/*-- Game Screen --*/

.count-down-box h2 {
	font-size: 1rem;
}

.letter-tiles li,
.played-letters li {
	display: block;
	float: left;
}

.letter-tiles li {
	padding: 5px;
	font-size: 1.5em;
}

.played-letters li {
	padding: 5px;
	margin: 5px;
	background: black;
	color: white;
}

.alert-message span {
	text-transform: uppercase;
  font-weight: 700;
  background: black;
  color: white;
  padding: 5px;
	margin: 0 2px;
}

.score-box {
	display: flex;
}

.score-box>div {
	flex: 1 1 auto;
}

.score-box p {
	font-size: 26px;
	font-weight: 700;
	margin: 0;
	background-color: black;
	color: white;
	margin: 0 auto;
	width: 40px;
}

/*-- Game Window --*/

.game-window {
	background: white;
	max-width: 640px;
	border: 1px solid #262626;
	padding: 5px;
}

.title-bar {
	background: linear-gradient( to bottom, #ffffff, #ffffff 50%, #040404 50%, #000000);
	background-size: 100% 4px;
	position: relative;
}

.title-bar h1 {
	background: #ffffff;
	display: block;
	margin: 0 auto;
	width: 120px;
	font-size: 25px;
}

.close-box {
	position: absolute;
	left: 10px;
	top: 2px;
	width: 26px;
	height: 26px;
	background: white;
	border: 2px solid black;
	box-shadow: 0 0 0px 2px white;
}

.resize-box {
	position: absolute;
	right: 10px;
	top: 2px;
	width: 26px;
	height: 26px;
	background: white;
	border: 2px solid black;
	box-shadow: 0 0 0px 2px white;
}

.resize-box::after {
	position: absolute;
	content: "";
	top: -2px;
	left: -2px;
	width: 18px;
	height: 18px;
	border: 2px solid black;
}

/*-- Gallows Image --*/

.gallows {
	background: url(../images/hang/0.png) transparent center center no-repeat;
	background-size: cover;
	height: 0;
	padding-top: 70%;
	border: 2px solid black;
	margin-top: 5px;
	box-shadow: inset 0px 0px 0px 4px white;
}

.gallows.image1 {
	background-image: url(../images/hang/1.png)
}

.gallows.image1.image2 {
	background-image: url(../images/hang/2.png)
}

.gallows.image1.image2.image3 {
	background-image: url(../images/hang/3.png)
}

.gallows.image1.image2.image3.image4 {
	background-image: url(../images/hang/4.png)
}

.gallows.image1.image2.image3.image4.image5 {
	background-image: url(../images/hang/5.png)
}

.gallows.image1.image2.image3.image4.image5.image6 {
	background-image: url(../images/hang/6.png)
}

.gallows.image1.image2.image3.image4.image5.image6.image7 {
	background-image: url(../images/hang/7.png)
}

@media only screen and (min-width: 640px) {
	.gallows {
		padding-top: 39%;
	}
}











